{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>Welcome to the ISE Jobs Board</h1>

    {% if session.get("role") == "company" and session.get("email") %}
      <a href="{{ url_for('add_residency') }}" class="btn btn-success mt-3" style="font-size: 1.2em;"> Add Residency Position</a>
    {% endif %}

    {% if session.get("role") == "student" and session.get("email") %}
      <a href="{{ url_for('rank_residencies') }}" class="btn btn-primary mt-3" style="font-size: 1.2em;"> Rank Residency Positions</a>
    {% endif %}
  </div>
{% endblock %}
